<li>
	<h2>
		<a href="<%= entry.link %>">
			<%= entry.title %>
			<% unless entry.seen %>
 				<em>(new)</em>
			<% end %>
		</a>
	</h2>
	<% if show_feed_titles %>
		<em><%= link_to entry.feed.title, feed_url(entry.feed) %></em><br>
	<% end %>
	<%= sanitize(entry.content_encoded) %>
</li>
