<li class="entry">
	<h2 class="entry-title">
		<a href="<%= entry.link %>">
			<%= entry.title %>
			<% unless entry.seen %>
 				<em>(new)</em>
			<% end %>
		</a>
	</h2>
	<div class="entry-content">
		<% if show_feed_titles %>
			<em><%= link_to entry.feed.title, feed_url(entry.feed) %></em><br>
		<% end %>
		<%= sanitize(entry.content_encoded) %>
	</div>
</li>
