@import 'colors';

header {
  background: $header;
  color: $header-text;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;

  a {
    text-decoration: none;
    color: $header-text;
  }

  input, button {
    border: none;
  }
}
