// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

header {
  background: #333;
  color: #ddd;
  position: relative;
  z-index: 1;
  text-align: center;
}

header ul {
  text-align: left;
}

input {
  border: 1px solid $border;
}
